:root {
	--grapevine-purple: #9A1472;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro',Helvetica,sans-serif;
}

.bio-section {
	margin: 0;
	padding: 40px 20px;
	background-color: var(--grapevine-purple);
	height: 600px;
	text-align: center;
}

img.prof-pic {
	border-radius: 50%;
	height: 100px;
	margin: 0 auto;
}

.bio-name-header {
	font-size: 22px;
	margin: 25px 0 10px 0;
}

.white-text {
	color: white;
}

.bio-subheader {
	font-size: 16px;
	letter-spacing: 0.05px;
	margin: 5px 0px;
}

.cv-link {
	color: red;
	border-bottom: 1px dotted red;
	text-decoration: none;
	font-size: 20px;
}

.cv-link:visited {
	color: red;
}

.bio-stack-pelement {
	margin: 20px;
	font-size: 38px;
	line-height: 60px;
	letter-spacing: 1px;
}

.bio-in-touch {
	font-size: 19px;
	margin: 62px 0 10px 0;
}

.bio-in-touch-icons {
	font-size: 40px;
}