:root {
	--grapevine-purple: #9A1472;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro',Helvetica,sans-serif;
}

.bio-section {
	margin: 0;
	padding: 40px 20px;
	background-color: var(--grapevine-purple);
	height: 600px;
	text-align: center;
}

img.prof-pic {
	border-radius: 50%;
	height: 100px;
	margin: 0 auto;
}

.section-header {
	font-size: 22px;
	margin: 25px 0 10px 0;
}

.white-text {
	color: white;
}

.bio-subheader {
	font-size: 16px;
	letter-spacing: 0.05px;
	margin: 5px 0px;
}

.cv-link {
	color: red;
	border-bottom: 1px dotted red;
	text-decoration: none;
	font-size: 20px;
}

.cv-link:visited {
	color: red;
}

.bio-stack-pelement {
	margin: 20px;
	font-size: 38px;
	line-height: 60px;
	letter-spacing: 1px;
}

.bio-in-touch {
	font-size: 19px;
	margin: 62px 0 10px 0;
	color: white;
}

.bio-divider {
	margin-left: 15px;
	margin-right: 15px;
}

.white-link {
	color: white;
	text-decoration: none;
}

.white-link:hover {
	font-size: 18px;
	transition: 500ms;
}

.personal-summary-section {
	margin: 50px 25px 20px 25px;
}

.personal-summary-text {
	color: gray;
	margin: 30px 0;
	letter-spacing: .3px;
	line-height: 25px;
}

.personal-summary-text-link {
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted black;
}

hr#section-divider-1 {
	background-color: gainsboro;
	margin: 0 25px;
}

.portfolio-section {
	margin: 25px;
}

.portfolio-section-header {
	font-size: 19px;
}