:root {
	--grapevine-purple: #9A1472;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro',Helvetica,sans-serif;
}

.bio-section {
	margin: 0;
	padding: 40px 20px;
	background-color: var(--grapevine-purple);
	height: 600px;
	text-align: center;
}

img.prof-pic {
	border-radius: 50%;
	height: 110px;
	margin: 0 auto;
}

.bio-section h1 {
	font-size: 22px;
}

.white-text {
	color: white;
}

.bio-subheader {
	font-size: 16px;
	letter-spacing: 0.05px;
	margin: 5px 0px;
}

